# Default ignored files
/shelf/
/workspace.xml
bin/
obj/
*.dll
*.exe
*.pdb
*.user
*.vs
.idea/
.vscode/
*.db
*.cache
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Battleship assigment.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
